@font-face {
    font-family: 'Futuris';
    src: url('fonts/Futuris-Regular.eot');
    src: url('fonts/Futuris-Regular.eot?#iefix') format('embedded-opentype'), url('fonts/Futuris-Regular.woff') format('woff'), url('fonts/Futuris-Regular.ttf') format('truetype'), url('fonts/Futuris-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Futuris';
    src: url('fonts/Futuris-Bold.eot');
    src: url('fonts/Futuris-Bold.eot?#iefix') format('embedded-opentype'), url('fonts/Futuris-Bold.woff') format('woff'), url('fonts/Futuris-Bold.ttf') format('truetype'), url('fonts/Futuris-Bold.svg') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'MyriadPro';
    src: url('fonts/MyriadPro-Regular.eot');
    src: url('fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'), url('fonts/MyriadPro-Regular.woff') format('woff'), url('fonts/MyriadPro-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MyriadPro';
    src: url('fonts/MyriadPro-Bold.eot');
    src: url('fonts/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'), url('fonts/MyriadPro-Bold.woff') format('woff'), url('fonts/MyriadPro-Bold.svg') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Bitter';
    src: url('fonts/Bitter-Regular.eot');
    src: url('fonts/Bitter-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/Bitter-Regular.woff2') format('woff2'),
    url('fonts/Bitter-Regular.woff') format('woff'),
    url('fonts/Bitter-Regular.ttf') format('truetype'),
    url('fonts/Bitter-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PTSans';
    src: url('fonts/PTSans-Regular.eot');
    src: url('fonts/PTSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/PTSans-Regular.woff2') format('woff2'),
    url('fonts/PTSans-Regular.woff') format('woff'),
    url('fonts/PTSans-Regular.ttf') format('truetype'),
    url('fonts/PTSans-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BebasNeue';
    src: url('fonts/BebasNeue-Regular.eot');
    src: url('fonts/BebasNeue-Regular.eot?#iefix') format('embedded-opentype'), url('fonts/BebasNeue-Regular.woff') format('woff'), url('fonts/BebasNeue-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BebasNeue';
    src: url('fonts/BebasNeue-Bold.eot');
    src: url('fonts/BebasNeue-Bold.eot?#iefix') format('embedded-opentype'), url('fonts/BebasNeue-Bold.woff') format('woff'), url('fonts/BebasNeue-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'BebasNeue-Light';
    src: url('fonts/BebasNeue-Light.eot');
    src: url('fonts/BebasNeue-Light.eot?#iefix') format('embedded-opentype'), url('fonts/BebasNeue-Light.woff') format('woff'), url('fonts/BebasNeue-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BebasNeue-Book';
    src: url('fonts/BebasNeue-Book.eot');
    src: url('fonts/BebasNeue-Book.eot?#iefix') format('embedded-opentype'), url('fonts/BebasNeue-Book.woff') format('woff'), url('fonts/BebasNeue-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


html { height: 100%; margin: 0; padding: 0; background-color: #fff; }
body { height: 100%; margin: 0; padding: 0; color: #000000; font-weight: normal; font-style: normal; font-size: 100%; background: #ffffff; min-width: 1025px;  }

.wrapper { margin: 0 auto; width: 100%; min-height: 100%; min-width: 1025px; }
.clear { clear: both;}
p img{float: left; margin-right: 15px;}
.inner { position: relative; width: 1025px; min-width: 1025px; margin: 0 auto; }
.wrapper .content.inner .inner { position: relative; background: url(../images/wive-bottom-line.png) 0 bottom no-repeat; background-color: #50737a; height: 100%; padding-bottom: 50px; min-height: 750px;}
.fond{  background-color: #2a494e; width: 100%; height: 100%; position: fixed; z-index: 0; }

h1{font-weight: normal;}
h2{ margin: 0; font-family: 'Bitter', Georgia normal; color: #eef8c4; font-size: 30px; text-align: center; font-weight: normal; }
h3{font-weight: normal;}

/* HEADER SCROLL*/
.header-scroll{ height: 58px; color: #fff; z-index: 200; position: fixed;  left: 0; right: 0; background: url(../images/grid.png) #5ca2cf; }
.header-scroll .header-line{ height: 58px; background: #5ca2cf; }
.header-scroll .header-line .back{ background: url(../images/logo-header-scroll-icons.svg) 0 0 no-repeat; background-size: 40px; height: 40px; width: 40px; float: left; margin-right: 18px; margin-top: 9px; margin-left: 44px; text-decoration: none; color: #fff; }
.header-scroll .header-line .logo{ float: left; margin-right: 18px; font-family: 'BebasNeue-Light'; font-size: 45px; color: #fff; text-transform: uppercase;  text-decoration: none; line-height: 42px; margin-top: 9px; }
.mac.safari .header-scroll .header-line .logo{margin-top: 13px;}
.header-scroll .header-line .corp{ background: url(../images/logo-header-scroll-icons.svg) 0 -87px no-repeat; background-size: 40px; height: 32px; float: left; margin-left: 39px; margin-right: 66px; padding-left: 58px; margin-top: 9px; font-size: 18px; font-weight: bold; font-family: 'BebasNeue'; padding-top: 10px; text-decoration: none; color: #fff; }
.header-scroll .header-line .shop{ background: url(../images/logo-header-scroll-icons.svg) 0 -130px no-repeat; background-size: 40px; height: 32px; float: left; padding-left: 58px; margin-top: 9px; font-size: 18px; font-weight: bold; font-family: 'BebasNeue'; padding-top: 10px; text-decoration: none; color: #fff; }
.header-scroll .header-line .grid{ width: 76px; height: 35px;  float: left; margin-right: 18px; margin-top: 15px; }

.header-scroll .btn-login-line{ height: 41px; text-align: right; color: #000; background: url(../images/login-line.png) right -1px no-repeat; margin-right: 43px;}
.header-scroll .btn-login-line span{ font-family: 'BebasNeue'; font-weight: 600; font-size: 22px; padding-top: 6px; letter-spacing: 0.5px; display: inline-block; }
.header-scroll .btn-login-line a{ text-decoration: none; width: 125px; text-align: center; font-family: 'BebasNeue'; text-transform: uppercase; font-size: 22px; color: #fff; padding-top: 6px; padding-bottom: 7px;  display: inline-block; }
/* HEADER SCROLL END*/

/* HEADER */
header{ min-width: 1025px; position: relative; height: 58px;}
header .top-header{ height: 76px; padding-top: 24px; text-transform: uppercase; font-size: 18px; font-weight: bold; font-family: 'BebasNeue'; background-color: #fff; }

header .top-header .left-col a{ display: block; float: left; margin-left: 41px; background: url(../images/icons-header.svg) -17px -15px no-repeat; text-align: center; padding: 13px 0 14px 58px; color: #ec0205; text-decoration: none; height: 22px; }

header .top-header .right-col{ float: right; }
header .top-header .right-col .corp{ display: block; float: left; margin-right: 30px; color: #735573; text-decoration: none; background: url(../images/icons-header.svg) -16px -118px no-repeat; padding: 13px 0 14px 58px; height: 22px; }
header .top-header .right-col .shop{ display: block; height: 47px; float: left; margin-right: 42px; color: #f04945; text-decoration: none; background: url(../images/icons-header.svg) -16px -168px no-repeat; padding: 13px 0 14px 58px; height: 22px; }

header .middle-header{ height: 144px; background-color: #5ca2cf; padding-top: 41px; position: relative; }
header .middle-header .logo{ width: 1025px; height: 80px;}
header .middle-header .logo a{ font-family: 'BebasNeue-Light'; text-decoration: none; font-size: 60px; color: #fff; font-weight: bold; letter-spacing: 1.7px; margin-left: 40px; float: left }
header .middle-header .logo a span{ width: 75px; height: 75px; display: inline-block; background: url(../images/logo-header-scroll-icons.svg) 0 -79px no-repeat; margin-right: 20px; margin-top: 0; vertical-align: -32px;}
header .middle-header .logo p{ font-size: 31px; letter-spacing: 0.8px; margin-top: -29px; margin-left: 93px; margin-bottom: 0; }
header .middle-header .logo .grid{ background: url(../images/grid.png); height: 74px; width: 567px; float: right; margin-top: 14px; }
header .empty{height: 58px;}
/* HEADER END*/

/* FOOTER */
footer{ min-width: 1025px; position: relative; }

footer .top-foot{ height: 78px; background-color: #fff; }
footer .top-foot p{ padding: 30px 50px 0 40px; margin: 0; font-family: 'BebasNeue'; font-size: 20px; text-transform: uppercase; font-weight: 600; color: #485a64; letter-spacing: 0.4px; }

footer .btn-order-line{ background-color: #fff; height: 51px;margin-top: -1px; }
footer .btn-order-line a{ display: block; float: right; margin-right: 42px; background: url(../images/order.png) no-repeat; text-decoration: none; width: 190px; height: 41px; font-family: 'BebasNeue'; font-weight: 600; color: #fff; font-size: 28px; text-transform: uppercase; text-align: center; padding-top: 10px; }

footer .bottom-foot{ background-color: #5ca2cf; height: 65px; padding: 25px 0; }
footer .bottom-foot .left-col{ float: left; font-family: 'MyriadPro'; font-size: 16px; color: #fff; text-decoration: none; background: url(../images/logo-comp.png) no-repeat; height: 62px; margin-left: 43px; padding-left: 77px; padding-top: 21px; }
footer .bottom-foot .right-col{ float: right; margin-top: 8px; }
footer .bottom-foot .right-col .vk{ background: url(../images/social-networks-icons2.png) 0 0 no-repeat; display: inline-block;  width: 42px; height: 42px; margin-right: 31px; }
footer .bottom-foot .right-col .fb{ background: url(../images/social-networks-icons2.png) -42px 0 no-repeat; display: inline-block; width: 42px; height: 42px; margin-right: 31px; }
footer .bottom-foot .right-col .in{ background: url(../images/social-networks-icons2.png) -84px 0 no-repeat; display: inline-block; width: 42px; height: 42px; margin-right: 31px; }
footer .bottom-foot .right-col .tw{ background: url(../images/social-networks-icons2.png) -126px 0 no-repeat; display: inline-block; width: 42px; height: 42px; margin-right: 40px; }
.wave-bootom { background: url("../images/wive-bottom-line.png") 0 top no-repeat; }
/* FOOTER END */

/* MAIN */

.template-header{ background-color: #f9fced; }
.template-header .btn-login-line{ height: 41px; text-align: right; color: #000; background: url(../images/login-line.png) right -1px no-repeat; background-color: #f9fced; margin-right: 43px;}
.template-header .btn-login-line span{ font-family: 'BebasNeue'; font-weight: 600; font-size: 22px; padding-top: 6px; letter-spacing: 0.5px; display: inline-block; }
.template-header .btn-login-line a{ text-decoration: none; width: 125px; text-align: center; font-family: 'BebasNeue'; text-transform: uppercase; font-size: 22px; color: #fff; padding-top: 6px; padding-bottom: 7px;  display: inline-block; }

.template-header .header-content{ position: relative; height: 205px; background-color: #f9fced;padding-top: 4px; }
.template-header .header-content .left{ float: left; }
.template-header .header-content img{ margin-left: 100px; margin-top: 27px; }
.template-header .header-content .left .block{ display: inline-block; color: #377279; font-family: 'Bitter', Georgia normal; margin-left: 32px; vertical-align: 32px; }
.template-header .header-content .left .block .block-title{ margin: 0; color: #304b50; text-align: left; font-family: 'Bitter', Georgia normal; font-weight: bold; font-size: 45px; letter-spacing: 1.1px; }
.template-header .header-content .left .block .block-content p{ font-size: 22px; margin: 0; margin-top: 16px; }
.template-header .header-content .phone {float: right; margin-top: 55px; margin-right: 105px;}
.template-header .header-content .phone .block{ font-family: 'PTSans'; font-size: 22px; color: #304b50; }
.template-header .header-content .phone .block p{ margin: 0; }
.template-header .header-content .phone .block p:first-child{ margin-bottom: 5px; padding-left: 6px; }
.template-header .header-content .phone .block span{ font-size: 12px; vertical-align: 5px; }

.template-header .wave-line{ position: relative; height: 115px; background: url(../images/wave.jpg) 46px repeat-x; }

/*NAV */
nav{ position: relative; height: 46px; background-color: #42646b; }
nav ul{ margin: 0; }
nav ul li { float: left; margin-top: 11px; color: #f9fced; margin-left: 48px; padding-left: 18px; list-style-type: disc;}
nav ul li:first-child{ margin-left: 110px; list-style: none; }
nav ul li a{ text-decoration: none; font-family: 'Bitter', Georgia normal; font-size: 18px; color: #f9fced; }
nav ul li .item-layout a.active{ background-color: #2a4449; color: #5bc3ba; padding: 11px 18px 13px 18px;}
/*NAV END */

::-webkit-input-placeholder { font-family: "PTSans"; font-size: 14px; color: #727272; }
:-moz-placeholder { font-family: "PTSans"; font-size: 14px; color: #727272; }
::-moz-placeholder { font-family: "PTSans"; font-size: 14px; color: #727272; }
:-ms-input-placeholder { font-family: "PTSans"; font-size: 14px; color: #727272; }

.content{ background-color: #50737a; }
.content .about-company{ height: 246px; background-color: #50737a; text-align: center; padding-top: 38px; }
.content .about-company .block .block-title{ margin: 0; margin-bottom: 21px; font-family: 'Bitter', Georgia normal; color: #eef8c4; font-size: 30px; text-align: center; }
.content .about-company p{ font-family: 'PTSans'; color: #fff; font-size: 16px; text-align: initial; margin-left: 100px; margin-right: 100px; text-indent: 2.2em; line-height: 22px; }
.content .about-company p{ margin-bottom: 22px; }

.content .middle-line{ min-height: 341px; background-image: url(../images/pattern-cont.png); }
.content .middle-line h2{ padding-top: 22px; padding-bottom: 24px; }
.content .middle-line .rope-left{ width: 168px; height: 39px; background: url(../images/ropes.png) 0 0 no-repeat; float: left; margin-top: 56px; }
.content .middle-line .servis{ display: inline-block; width: 142px; height: 216px; text-decoration: none; }
.content .middle-line .delivery{ background: url(../images/servises-icon.svg) 0 0 no-repeat; margin-left: 32px; vertical-align: top; }
.content .middle-line .cleaning{ background: url(../images/servises-icon.svg) -158px 0 no-repeat; margin-left: 17px; }
.content .middle-line .advertising{ background: url(../images/servises-icon.svg) -320px 0 no-repeat; margin-left: 17px; }
.content .middle-line .envelopment{ background: url(../images/servises-icon.svg) -482px 0 no-repeat; margin-left: 17px; }
.content .middle-line .rope-right{ width: 168px; height: 39px; background: url(../images/ropes.png) -168px 0 no-repeat; float: right; margin-top: 56px; }
.content .middle-line p{ text-align: center; color: #fff; font-family: 'Bitter', Georgia normal; font-size: 20px; margin-top: 170px; }

.content .advantages-line{ position: relative;  background-color: #50737a; height: 442px; padding: 30px 104px 18px 120px; }
.content .advantages-line h2{ margin-bottom: 20px; margin: 0; font-family: 'Bitter', Georgia normal; color: #eef8c4; font-size: 30px; text-align: center }
.content .advantages-line .block p{ height: 22px; font-family: 'PTSans'; font-size: 16px; color: #fff; margin-bottom: 40px; background: url(../images/lifebuoy.png) no-repeat; padding-left: 60px; }
.content .advantages-line img{ position: absolute; bottom: -38px; right: 34px; z-index: 5; }

.template-footer .bottom-line{ position: relative; height: 124px; background-color: #f2c361; padding-top: 27px; margin-bottom: -18px;}
.template-footer .bottom-line:after{ background: url(../images/wive-bottom-line.png) no-repeat; content: ""; position: absolute; left: 0; top: -52px; width: 100%; height: 53px; }
.template-footer .bottom-line .left-col{ float: left; background: url(../images/fish-mini.png) no-repeat; height: 62px; font-family: 'Times New Roman', 'Times' , 'serif'; font-size: 16px; color: #fff; margin-left: 100px; padding-left: 65px; padding-top: 23px; }
.template-footer .bottom-line .left-col { font-family: 'PTSans'; }
.template-footer .bottom-line .right-col{ float: right; margin-top: 19px; margin-right: 101px; }
.template-footer .bottom-line .right-col .vk{ background: url(../images/social-networks-icons.png) 0 0 no-repeat; display: inline-block; width: 38px; height: 38px; margin-right: 24px; }
.template-footer .bottom-line .right-col .fb{ background: url(../images/social-networks-icons.png) -38px 0 no-repeat; display: inline-block; width: 38px; height: 38px; margin-right: 24px; }
.template-footer .bottom-line .right-col .in{ background: url(../images/social-networks-icons.png) -76px 0 no-repeat; display: inline-block; width: 38px; height: 38px; margin-right: 24px; }
.template-footer .bottom-line .right-col .tw{ background: url(../images/social-networks-icons.png) -114px 0 no-repeat; display: inline-block; width: 38px; height: 38px; }
.template-footer .right-col .block { display: inline-block; }
.content.inner .inner .contact { display: inline-block; }
.content.inner .inner .contact div { display: inline-block; }
.content.inner .inner h1, .content.inner .inner h2, .content.inner .inner h3 { font-family: "Bitter"; color: #eef8c4; text-align: center; }
.content.inner .inner h1 { font-size: 30px; margin: 0 100px; }
.content.inner .inner h2 { font-size: 25px; margin: 0 100px; }
.content.inner .inner h3 { font-size: 20px; margin: 0 100px; }
.content.inner .inner p { font-family: "PTSans"; color: #ffffff; padding: 0 100px; line-height: 25px;}
.content.inner .inner p span a {color: #b4efb6;}

.content.inner .inner table { border: 1px solid #559696; border-collapse:collapse; color: #ffffff;}
.content.inner .inner table thead { background-color: #559696; font-family: "Bitter"; }
.content.inner .inner table thead tr {}
.content.inner .inner table thead th { border: 0px; }
.content.inner .inner table thead tr th { font-weight: normal; }
.content.inner .inner table tbody { font-family: "PTSans"; }
.content.inner .inner table tbody tr { }
.content.inner .inner table tbody tr td { border: 0px; border-top: 1px solid #559696;}
.content.inner .form p { font-family: "Bitter"; color: #eef8c4; font-size: 25px; padding: 0px; }
.content.inner .contact-form .form .row .button input{ cursor: pointer; }
.content.inner .inner .h1bg div h1 { font-family: 'Bitter'; color: #ceddb5; font-size: 30px; text-align: center; }
.content.inner .inner .contact .map {  width: 500px; margin-top: 10px; margin-left: 100px; }
.content.inner .inner .contact .contact-form { width: 320px; vertical-align: top; background-color: #5bc3ba; margin-top: 10px; height: 510px; margin-left: -4px; background-image: url("../images/pattern-cont.png"); }
.content.inner .inner .contact .send-callback { vertical-align: top; }
.content.inner .inner .contact .send-callback .contact-form .form .row.captcha { display: inline-block; margin-right: 19px; width: 260px; height: 70px;}
.content.inner .inner .contact .send-callback .contact-form .form .row.captcha #captcha-block { width: 260px; height: 70px;position: relative;}
.content.inner .inner .contact .send-callback .contact-form .form .row.captcha a{ font-family: "PTSans"; font-size: 13px; color: #ffffff; display: inline-block; margin-top: 50px;}
.content.inner .inner .contact .send-callback .contact-form .form .row.captcha img{ border: 1px solid #3a5f5a; margin-left: 7px; margin-top: 14px; float: left;}
.content.inner .inner .contact .send-callback .contact-form .form .row.captcha input { width: 125px; position: absolute; top: 14px; }
.contact-form .form { width: 320px; text-align: center; }
.content.inner .inner .info { }
.content.inner .inner .info p { font-family: "PTSans"; font-size: 16px; color: #ffffff; }
.contact-form .form_title p { font-size: 25px; font-family: 'Bitter'; color: #ceddb5; text-align: center; }
.contact-form .form .row input {font-family: "PTSans"; width: 260px; height: 28px; border: 1px #e3e3e3; border-radius: 2px; margin-bottom: 22px; padding-left: 8px; }
.contact-form .form .row input.error { border: 1px solid #f04945; width: 258px; height: 26px;;background-color:#FBE3E4;}
.contact-form .form .row.captcha  input.error { }
.content.inner .inner .contact .send-callback .contact-form .flash-success { font-family: "Bitter"; color: #eef8c4; font-size: 25px; text-align: center; margin: 190px 14px;}
.contact-form .form .row textarea { font-family: "PTSans"; width: 257px; border: 1px #e3e3e3; border-radius: 2px; padding-left: 8px; height: 110px;}
.contact-form .form .row textarea.error { border: 1px solid #f04945; height: 108px; width: 255px;background-color:#FBE3E4; }
.content.inner .inner .contact .send-callback .contact-form .errorSummary {font-family: "PTSans"; height: 14px; display: block; color: #7C0D0F; font-size: 14px; padding-right: 47px; }
.contact-form .form .row .button input#send-message {
    background: rgb(85,106,110); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(85,106,110,1) 0%, rgba(75,97,101,1) 37%, rgba(57,81,86,1) 73%, rgba(57,81,86,1) 73%, rgba(47,72,77,1) 90%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(85,106,110,1)), color-stop(37%,rgba(75,97,101,1)), color-stop(73%,rgba(57,81,86,1)), color-stop(73%,rgba(57,81,86,1)), color-stop(90%,rgba(47,72,77,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(85,106,110,1) 0%,rgba(75,97,101,1) 37%,rgba(57,81,86,1) 73%,rgba(57,81,86,1) 73%,rgba(47,72,77,1) 90%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(85,106,110,1) 0%,rgba(75,97,101,1) 37%,rgba(57,81,86,1) 73%,rgba(57,81,86,1) 73%,rgba(47,72,77,1) 90%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(85,106,110,1) 0%,rgba(75,97,101,1) 37%,rgba(57,81,86,1) 73%,rgba(57,81,86,1) 73%,rgba(47,72,77,1) 90%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(85,106,110,1) 0%,rgba(75,97,101,1) 37%,rgba(57,81,86,1) 73%,rgba(57,81,86,1) 73%,rgba(47,72,77,1) 90%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#556a6e', endColorstr='#2f484d',GradientType=0 ); /* IE6-9 */
    height: 36px; width: 145px; font-family: "Bitter"; font-size: 17px; color: #ceddb5; border: 1px solid #42595d;
    border-top: 1px solid #919fa1; outline: 1.2px solid #3a485f; border-radius: 0px;
}
.content.inner .inner .contact .send-callback .contact-form  .row .button { padding-top: 15px; }
.breadcrumbs { font-family: "PTSans"; font-size: 13px; margin-left: 100px; margin-top: 25px;margin-bottom: 20px;}
.breadcrumbs a { color: #f9fced; }
.breadcrumbs span { color: #a9bca1; }
.breadcrumbs span.separator { padding: 0px 14px; }
.content.inner .middle-line .block p img { width: 140px; height: 152px; !important;}
.content.inner .middle-line .block { display: inline-block; }
.content.inner .middle-line .block p { margin: 0; padding: 0; max-width: 152px; }
.content.inner .middle-line > .block:nth-child(3) { margin-left: 45px; margin-top: 5px;}
.content.inner .template-header .header-content .left a { text-decoration: none; }